// Bootstrap
$info:          #63AC37;
$primary:       #2943A3;

// Odoo
$o-community-color: $primary;
$o-enterprise-color: $info;
$o-enterprise-primary-color:$info;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$font-family-sans-serif: 'Lato-Reg';
$font-family-base: $font-family-sans-serif;

//Other
